.main__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main__container-shell {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 80%; /* 550px 45% ?*/
  margin: 10% auto;
  align-items: center;
}

.main__container-children {
  width: 100%;
  padding: 0.4rem;
}

@media (min-width: 600px) {
  .main__container-shell {
    max-width: var(--max-width); /* 550px 45% ?*/
  }
}
