/*==================================== 
    Form Inputs  styles
=====================================*/

.form {
  width: 100%;
}

.form__inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 0.6rem;
}

.form__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form__headerTitle {
  flex: 3 1 auto;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  color: white;
  font-size: 1.1rem;
}

.form__headerIcon {
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
}

.form__body {
  align-items: center;
  background-color: #dedede;
  border: 7px solid #dedede;
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  color: #000000;
  width: 98%;
}

.form__searchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.form__searchBar {
  width: 96%;
  border: none;
  padding: 0.6rem;
  outline: none;
  border-radius: 0.025rem;
  font-size: 1rem;
}

.form__checkboxContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.4rem;
  width: 95%;
}

.form__checkboxContainer--last {
  border-top: 0.2px solid rgb(248, 252, 254);
  border-bottom: 0.2px solid rgb(248, 252, 254);
  background-color: rgb(223, 228, 229);
  box-shadow: var(--box-shadow);
}

.form__footer {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin: 0.2rem;
}

.form__button {
  background-color: #dedede;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8rem;
}

.form__buttonText {
  text-transform: uppercase;
}

/*==================================== 
    Modal  styles
=====================================*/

.modal__overlay {
  background: #070707d1 !important;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
}

.modal__wrap {
  padding: 1.2rem 0;
  position: relative;
  margin: 0 auto;
  max-width: 450px;
  width: max-content;

  margin: 40vmin auto;

  /* border-radius: 15px; */
  box-shadow: var(--box-shadow);
  transition: all 0.2s;

  background: var(--grey-white);
}

.modal__overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

.modal__overlay-show {
  opacity: 1;
  transform: scale(1.5);
  z-index: 800;
  background: var(--overlay-color);
  margin-block: -9%;
  margin-bottom: 2%;
}

.modal__content {
  padding: 0 0.4rem;
  text-align: justify;
}

.modal__button-save {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  text-transform: uppercase;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 3rem;
}

@media (min-width: 50em) {
  .modal__wrap {
    padding: 1.75em;
    margin: 25vmin auto;
    max-width: calc(var(--max-width) * 20%);
    width: calc(50% * 0.3);
    margin-left: 1rem;
  }

  .modal__item {
    text-align: justify;
  }
}
@media (min-height: 37.5em) {
  .modal__wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);
  }
}
